img{
    width: 400px;
    height: 250px;

}
h1{ -webkit-text-stroke: 2px black; /* Espessura e cor do contorno */
  color: rgb(255, 251, 2);  
  position: sticky;                /* Cor do interior da letra */
}

body{ background-color: bisque;}

/* Estilos válidos apenas para telas de celulares */
@media screen and (max-width: 480px) {
  body {
    font-size: 14px;
    padding: 10px;
  }
  
  /* Faz as colunas ocuparem a largura total na vertical */
  .coluna {
    width: 100%;
  }
}

